# Porta da aplicação
PORT=5000

# String de conexão do banco de dados (MariaDB / MySQL)
# Para executar via Docker Compose (comunicando com o container 'db'):
DATABASE_URL="mysql://root:root@db:3306/vendas"

# Para executar localmente fora do Docker (comunicando com o banco na sua máquina):
# DATABASE_URL="mysql://root:root@localhost:3306/vendas"
